// @import "@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: white;
}
.example-spacer {
  flex: 1 1 auto;
}
.action-buttons {
  margin-left: 30px;
}

.button-container1 {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;

  button {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.mat-focused .mat-form-field-outline-thick {
  color: #009688; /* Teal color, for example */
}
.mat-elevation-z8 {
  max-width: fit-content;
  width: 89%;
  margin: auto;
  margin-bottom: 20px;
}
.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
