<mat-toolbar style="background-color: lightblue; height: 300px"> </mat-toolbar>
<div class="button-container1" *ngIf="!isEdit && !isAdd">
  <P class="text-3xl font-semibold mt-[-200px] text-[#042075]">
    HR management boadrd</P
  >
  <mat-form-field appireance="outline" class="example-full-width ml-[-900px]">
    <mat-label>search employee</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="addEmployee()">
    Add Employee
  </button>
</div>

<div *ngIf="!isAdd && !isEdit" class="mat-elevation-z8">
  <table mat-table class="example-table" [dataSource]="dataSource">
    <ng-container matColumnDef="id" style="border-color: red">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef>Employee Name</th>
      <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ element.department }}</td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
    </ng-container>

    <ng-container matColumnDef="employmentStatus">
      <th mat-header-cell *matHeaderCellDef>Employment Status</th>
      <td mat-cell *matCellDef="let element">{{ element.employmentStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef>Job title</th>
      <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>employeedate</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef>Education</th>
      <td mat-cell *matCellDef="let element">{{ element.education }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="editEmployee(element)">
          Edit
        </button>
        <button mat-button color="warn" (click)="deleteEmployee(element.id)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<form
  *ngIf="isAdd || isEdit"
  [formGroup]="employeeForm"
  class="add-form bg-gray-100"
  (ngSubmit)="onSubmit()"
>
  <mat-card
    class="bg-gray-100"
    style="
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -260px;
    "
  >
    <mat-card-header>
      <h2 class="m-6 text-xl font-bold text-[#042075]">
        {{ isAdd ? "Add Employee" : isEdit ? "Edit Employee" : "" }}
      </h2>
    </mat-card-header>
    <mat-card-content
      style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: center"
    >
      <mat-form-field>
        <mat-label>employeeName</mat-label>
        <input formControlName="employeeName" matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          placeholder="Ex. pat@example.com"
          matInput
        />
        <mat-error>Please enter a valid email address</mat-error>
        <mat-error>Email is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>department</mat-label>
        <input formControlName="department" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>salary</mat-label>
        <input formControlName="salary" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>JobTitle</mat-label>
        <input formControlName="jobTitle" matInput />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Emoloyment status</mat-label>
        <mat-select formControlName="employmentStatus">
          <mat-option value="Full time">Full time</mat-option>
          <mat-option value="Part time">Part time</mat-option>
          <mat-option value="Remote">Remote</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Education</mat-label>
        <mat-select formControlName="education">
          <mat-option value="Degree(BSC)">Degree(BSC)</mat-option>
          <mat-option value="Masters">Masters</mat-option>
          <mat-option value="PHD">PHD</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label> date of employment</mat-label>
        <input [matDatepicker]="picker" formControlName="date" matInput />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
          style="color: lightblue"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="flex justify-center gap-4 m-4" s>
      <button mat-raised-button class="w-[200px]" color="primary" type="submit">
        Save
      </button>
      <a
        mat-raised-button
        class="w-[200px]"
        color="accent"
        (click)="backtolist()"
        >Cancel</a
      >
    </mat-card-actions>
  </mat-card>
</form>
